@model Fitally.Models.WorkoutDay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkoutDay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkoutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkoutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class="col-sm-2">
            Exercises
        </dt>
        <dd class="col-sm-10">
            @if (Model.WorkoutExercises.Any())
            {
                <ul class="list-group">
                    @foreach (var ex in Model.WorkoutExercises)
                    {
                        <li class="list-group-item">@ex.Exercise.Name @ex.Exercise.Sets x @ex.Exercise.Reps @ex.Exercise.Weight kg</li>
                    }
                </ul>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
